@import '_fonts.sass'
@import '_colors.sass'
@import '_variables.sass'

:root

  color-scheme: light dark

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  font-family: Poppins-Regular, sans-serif
  box-sizing: border-box
  strong
    font-family: Poppins-SemiBold, sans-serif
  &::-webkit-scrollbar 
    width: 16px
    background: #000
  &::-webkit-scrollbar-thumb
    border: 5px solid #000
    border-radius: 36px
    background: $dark-gray  

body
  color: #fffffc !important
  margin: 0
  min-width: 100%
  min-height: 100vh

  .link
    overflow: hidden
  #active-link
    &:before
      transform: scaleX(0.3)
    &:after
      transform: translateX(0)
  a
    &:not(.not-link)
      text-decoration: none
      color: $text-color
      font-weight: bold
      padding: .5em
      margin-left: -.5em
      position: relative
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
      &:before, &:after
        position: absolute
        content: ''
        border-bottom: 3px solid $primary-color
        border-radius: 1em
        bottom: .3em
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1)
      &:before
        width: 1em
        transform-origin: left

      &:after
        width: 82%
        left: 1em
        transform: translateX(110%)

      &:hover:before
        transform: scaleX(0.3)

      &:hover:after
        transform: translateX(0)

#app
  background: $background-color
  position: relative
  width: 100%
  min-height: 100vh
  padding: 0 16px 16px 16px !important
  margin: 0 auto
  text-align: center
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  overflow: auto
  @media (max-width: $breakpoint-lg)
    height: auto
  &::before
    content: ""
    background-image: linear-gradient($dark-gray 1px, transparent 1px), linear-gradient(to right, $dark-gray 1px, transparent 1px)
    background-size: 100px 100px
    width: 100%
    height: 100%
    position: fixed
    z-index: -1
    top: 50%
    left: 50%
    opacity: 0.5
    transform: translate(-50%, -50%)
  &::after
    content: ""
    width: 100%
    height: 100%
    z-index: -1
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-image: radial-gradient(at 40% 40%, #6495ED 0px, transparent 50%), radial-gradient(at 90% 10%, #FF4500 0px, transparent 50%), radial-gradient(at 50% 95%, #00CED1 0px, transparent 50%), radial-gradient(at 20% 30%, #2E8B57 0px, transparent 50%), radial-gradient(at 90% 90%, #4682B4 0px, transparent 50%), radial-gradient(at 33% 50%, #FF8C00 0px, transparent 50%), radial-gradient(at 79% 53%, #CD5C5C 0px, transparent 50%)
    opacity: 0.1

  .subtleBackgroundTitle
    position: fixed
    bottom: 8vh
    left: -4vw
    font-size: 30vh !important
    font-family: Abril-Fatface !important
    z-index: -1
    opacity: 0.025
    margin: 0
    line-height: 30vh
