@import '_fonts.sass'
@import '_colors.sass'
@import '_variables.sass'

:root

  color-scheme: light dark

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  font-family: Poppins-Regular, sans-serif
  box-sizing: border-box

body
  color: #fffffc !important
  margin: 0
  min-width: 100%
  min-height: 100vh

  .link
    overflow: hidden
  a
    &:not(.not-link)
      text-decoration: none
      color: $text-color
      font-weight: bold
      padding: .5em
      margin-left: -.5em
      position: relative
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
      &:before, &:after
        position: absolute
        content: ''
        border-bottom: 3px solid $primary-color
        border-radius: 1em
        bottom: .3em
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1)
      &:before
        width: 1em
        transform-origin: left

      &:after
        width: 82%
        left: 1em
        transform: translateX(110%)

      &:hover:before
        transform: scaleX(0.3)

      &:hover:after
        transform: translateX(0)

#app
  background: $background-color
  position: relative
  width: 100%
  height: 100vh
  padding: 0 16px 16px 16px !important
  margin: 0 auto
  text-align: center
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  @media (max-width: $breakpoint-lg)
    height: auto
  &::before
    content: ""
    background-image: linear-gradient($dark-gray 1px, transparent 1px), linear-gradient(to right, $dark-gray 1px, transparent 1px)
    background-size: 100px 100px
    width: 100%
    height: 100%
    position: fixed
    z-index: -1
    top: 50%
    left: 50%
    opacity: 0.5
    transform: translate(-50%, -50%)
  &::after
    content: ""
    width: 100%
    height: 100%
    z-index: -1
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-image: radial-gradient(at 40% 40%, #6495ED 0px, transparent 50%), radial-gradient(at 90% 10%, #FF4500 0px, transparent 50%), radial-gradient(at 50% 95%, #00CED1 0px, transparent 50%), radial-gradient(at 20% 30%, #2E8B57 0px, transparent 50%), radial-gradient(at 90% 90%, #4682B4 0px, transparent 50%), radial-gradient(at 33% 50%, #FF8C00 0px, transparent 50%), radial-gradient(at 79% 53%, #CD5C5C 0px, transparent 50%)
    opacity: 0.1
  header
    padding: 16px
    margin-block: 32px
    nav
      #navbar-icon
        width: 30px
        height: 30px
        background: url("src/assets/images/stacks.svg") center no-repeat
        background-size: cover
        transition: all 250ms ease
        fill: green !important
        &:hover
          transform: scale(1.1)
          cursor: pointer
          transition: all 250ms ease
        &:active
          transform: scale(0.9)
      ul
        li
          list-style-type: none
          padding: 8px 16px

  main
    article
      text-align: justify
      width: 725px
      @media (max-width: $breakpoint-lg)
        width: 100%
      @media (max-width:$breakpoint-md)
        width: 100%
      @media (max-width: $breakpoint-sm)
        width: 100%
        padding: 8px
      #title-name
        margin-bottom: 32px
        font-size: 4rem
        word-break: normal
        text-align: left
        @media (max-width:$breakpoint-md)
          font-size: 3rem
        &-colored
          font-family: Poppins-SemiBold
          color: $text-color
